@media (max-width: 640px) {

    /* 共通 */
    section {
        max-width: 96%;
        margin: 0 auto;
    }

    .topics {
        padding-bottom: 16px;
        margin: 0 auto 16px;
    }

    /* ヘッダー */
    .navSection {
        display: block;
    }

    h1 {
        align-items: center;
    }

    /* ハンバーガーメニュー */
    #menu .inner ul {
        display: block;
    }

    nav {
        display: block;
        position: fixed;
        background-color: #fefefe;
        width: 240px;
        top: -240px;
        left: 0;
        bottom: 0;
        transition: all 0.5s;
        z-index: 1000;
        opacity: 0;
    }

    .open nav {
        top: 0;
        opacity: 1;
    }

    nav .inner {
        padding: 24px;
    }

    nav .inner ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav .inner ul li {
        margin: 0;
        border-bottom: 1px solid #333;
    }

    nav .inner ul li a {
        display: block;
        font-size: 16px;
        padding: 1em;
        text-decoration: none;
        transition-duration: 0.2s;
        background: linear-gradient(90deg, #7ac78d 0%, #6ab9fa 40%, #ff3bef 80%);
        background-size: 300% 100%;
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: gradationTextAnimation;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes gradationTextAnimation {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 100% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    nav .inner ul li:hover {
        background: #e4e4e4;
    }

    .toggleBtn {
        display: block;
        position: fixed;
        top: 32px;
        right: 32px;
        width: 32px;
        height: 32px;
        z-index: 1000;
        cursor: pointer;
    }

    .toggleBtn span {
        position: absolute;
        display: block;
        left: 0;
        width: 32px;
        height: 2px;
        background-color: #fefefe;
        transition: all 0.5s;
        border-radius: 4px;
    }

    .toggleBtn span:nth-child(1) {
        top: 4px;
    }

    .toggleBtn span:nth-child(2) {
        top: 16px;
    }

    .toggleBtn span:nth-child(3) {
        bottom: 4px;
    }

    .open .toggleBtn span {
        background-color: #fefefe;
    }

    .open .toggleBtn span:nth-child(1) {
        transform: translateY(12px) rotate(-315deg);
    }

    .open .toggleBtn span:nth-child(2) {
        opacity: 0;
    }

    .open .toggleBtn span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
    }

    .toggleBtn::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #fefefe;
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0;
    }

    .open .toggleBtn::after {
        opacity: 1;
        animation: circleOpen 0.6s ease-out forwards;
    }

    .close .toggleBtn::after {
        opacity: 1;
        animation: circleClose 0.6s ease-in forwards;
    }

    @keyframes circleOpen {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
            clip-path: inset(0 100% 0 0);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
            clip-path: inset(0 0 0 0);
        }
    }

    @keyframes circleClose {
        0% {
            transform: translate(-50%, -50%) rotate(360deg);
            clip-path: inset(0 0 0 0);
        }

        100% {
            transform: translate(-50%, -50%) rotate(0deg);
            clip-path: inset(0 100% 0 0);
        }
    }


    #mask {
        display: none;
        transition: all 0.5s;
    }

    .open #mask {
        display: block;
        background: #333;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 500;
        cursor: pointer;
    }

    /* mv */

    .mvArea img {
        height: 80vh;
        object-fit: cover;
    }

    /*プロフィール*/
    .personal {
        display: block;
        gap: 0;
        margin-bottom: 64px;
        flex-direction: row-reverse;
    }

    .face {
        display: block;
        margin: 0 auto 16px;
    }

    h2 {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 8px;
    }

    .profile {
        margin: 0 auto;
    }

    .profile table {
        margin: 0 auto 16px;
    }

    .comment {
        max-width: 98%;
    }

    /* メインコンテンツ */
    /* 作品 */

    .gallery {
        display: block;
    }

    .category {
        text-align: center;
        margin-bottom: 24px;
    }


    .galleryWrap {
        width: 100%;
        align-items: center;
    }

    .galleryInner {
        text-align: center;
    }

    .galleryInner img {
        max-width: 50%;
        margin-bottom: 16px;
        padding-top: 32px;
    }

    .galleryInner p {
        max-width: 100%;
        margin: 0 auto 24px;
    }

    .dummy {
        display: none;
    }

    /* career */
    #career .content {
        max-width: 98%;
    }

    /* 技能 */
    #qualification {
        margin-bottom: 160px;
    }

    .content table {
        margin: 0 auto;
    }

    /* フッター */
    footer {
        display: block;
        text-align: center;
    }

    .footerMenu {
        display: none;
    }


    /* コンタクト */
    #formWrap {
        width: 95%;
        margin: 0 auto;
    }

    table.formTable th,
    table.formTable td {
        width: auto;
        display: block;
    }

    table.formTable th {
        margin-top: 8px;
        border-bottom: 0;
    }

    #formWrap .caution {
        text-align: left;
    }


    form input[type="text"],
    form textarea {
        width: 80%;
        padding: 8px;
        font-size: 110%;
        display: block;
    }

    form input[type="submit"],
    form input[type="reset"],
    form input[type="button"] {
        display: block;
        width: 80%;
        height: 44px;
    }
}