@charset "utf-8";

/* 共通 */
html {
    scroll-behavior: smooth;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", "Zen Kurenaido", sans-serif;
    font-size: 1.2em;
    background: linear-gradient(to right, #7ac78d, #6ab9fa);
    color: #fefefe;
}

section {
    max-width: 960px;
    margin: 0 auto;
}

.topics {
    padding-bottom: 32px;
    margin: 0 auto 32px;
    border-bottom: 3px ridge #fefefe;
}

.credit {
    text-align: right;
    margin-right: 120px;
}

/* ヘッダー */
.logoArea h1 {
    font-size: 1.8em;
    display: flex;
    align-items: center;

}

.icon {
    max-width: 80px;
    border-radius: 16px;
    margin: 0 8px;
    padding: 8px;
    background-color: #FEFEFE;
}

:root {
    --header-h: 80px;
}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 5%;
    height: var(--header-h);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background: linear-gradient(to right, #7ac78d, #6ab9fa);
}

h1 {
    font-size: 1.8em;
}

.logoArea {
    vertical-align: middle;
}

/* menu */
#menu {
    z-index: 1000;
    position: fixed;
    padding: 32px 0;
    top: 0;
    right: 32px;
    white-space: nowrap;
}

#menu .inner ul {
    display: flex;
    gap: 32px;
}

#menu .inner ul li a {
    transition: 0.2s;
}

#menu .inner ul li a:hover {
    transition: 0.2s;
    opacity: 0.6;
}

/* mv */
.mvArea {
    text-align: center;
    margin: 88px auto 64px;
    position: relative;
}

.mvArea img {
    max-width: 100%;
    border-radius: 24px;
}


/* スクロールダウンの位置 */
.scroll {
    margin-inline: auto;
    width: fit-content;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

/* マウスホイール */
.scroll::before {
    animation: 2s scroll infinite;
    background: #fefefe;
    border-radius: 3px;
    content: "";
    height: 12px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 4px;
}

/* マウス */
.scroll::after {
    border: 2px solid #fefefe;
    border-radius: 16px;
    content: "";
    display: block;
    height: 52px;
    margin-inline: auto;
    margin-top: 16px;
    width: 32px;
}

/* アニメーション */
@keyframes scroll {
    0% {
        opacity: 0;
        top: 40%;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 70%;
    }
}

/* プロフィール */
.personal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
    padding-bottom: 32px;
}

.face {
    max-width: 320px;
    border-radius: 24px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 16px;
}

.profile table {
    margin-bottom: 16px;
}

.comment {
    max-width: 440px;
    margin: 0 auto;
}

/* メインコンテンツ */
/* 作品 */
.category {
    text-align: center;
    margin-bottom: 32px;
}

.category img {
    max-width: 80px;
    margin-bottom: 8px;
}

.gallery {
    margin-bottom: 16px;
    border-bottom: 3px dotted #fefefe;
}

.gallery:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.gallery h3 span {
    font-size: 0.7em;
}

.galleryConainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 94%;
}

.galleryWrap {
    width: 30%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.galleryWrap>a {
    width: 100%;
    height: 320px;
    /* ← h4を揃えるための基準 */
    display: flex;
    align-items: flex-end;
    /* ← 画像を下揃え */
    justify-content: center;
}

.galleryWrap img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin-bottom: 16px;
    transition: transform .6s ease;
}

.galleryWrap :hover img {
    transform: scale(1.1);
    /* 拡大 */
}

.lb-data .lb-caption {
    font-size: 0.8em;
}

a[hidden] {
    display: none;
}

.galleryWrap p {
    line-height: 1.2;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 24px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
}

.galleryWrap button {
    display: block;
    border: 1px solid #fefefe;
    padding: 16px;
    border-radius: 32px;
    margin: 0 auto 16px;
    width: 240px;
    text-align: center;
    background-color: #3a4f9c;
}

/* ホバーした時に色を変える */
.galleryWrap button:hover {
    color: #3a4f9c;
    background-color: #bbdaf7;
    padding: 16px;
    border-radius: 32px;
}

/* career */
#career .content {
    max-width: 80%;
    margin: 0 auto;
}

#career {
    line-height: 1.5;
}

/* 技能 */
.content table {
    margin: 0 auto 8px;
}

.content table tr,
.content table th,
.content table td {
    border: solid 1px #fefefe;
    vertical-align: middle;
    padding: 8px;
}

/* 資格 */
#qualification .item {
    white-space: nowrap
}

/* コンタクト */
.contactArea{
    margin: 32px auto;
    width: 560px;
}

.contactArea .contact {
    display: block;
    font-size: 1.2em;
    text-align: center;
    color: #3a4f9c;
    padding: 16px 0 32px;
    border-radius: 8px;
    background-color: #fefefe;
}

.contactArea img {
max-width: 160px;
display: block;
margin: 0 auto;
}

.contactBox {
    position: fixed;
    top: 80%;
    right: 4%;
    z-index: 1000;
    box-shadow: 2px #333333;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.contactBox.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.contactText {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: #3a4f9c;
    min-width: 128px;
    text-wrap: wrap;
}

.contactButton {
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background-color: #FEFEFE;
    border-radius: 60%;
    text-decoration: none;
    color: inherit;
}

.contactBox img {
    max-width: 80px;
}

/* フッター */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-bottom: 16px;
}

.footerMenu {
    margin: 0 auto 16px;
}

.footerMenu ul {
    display: flex;
    gap: 32px;
}

/* コンタクト下層ページ */
#formWrap {
    max-width: 960px;
    margin: 128px auto 64px;
    color: #fefefe;
    line-height: 120%;
    font-size: 90%;
    margin-bottom: 8px;
}

#formWrap form {
    margin: 16px auto;
}

table.formTable {
    width: 100%;
    margin-bottom: 8px;
    border-collapse: collapse;
    color: #333;
}

input {
    color: #333;
}

table.formTable td,
table.formTable th {
    border: 1px solid #ccc;
    padding: 12px;
    background: #fefefe;
}

table.formTable th {
    width: 30%;
    font-weight: normal;
    text-align: left;
}

#formWrap .caution {
    text-align: right;
}


input,
textarea,
select {
    border: 1px solid #333;
    background-color: #fff;
    padding: 4px 6px;
    font-size: inherit;
}

input[type="submit"],
input[type="reset"] {
    border: 1px solid #333;
    background-color: #f2f2f2;
    padding: 8px 16px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #e0e0e0;
}

.caution {
    margin-bottom: 32px;
}